/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 20px;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-title {
  /* margin-left: 20px; */
}
.nav {
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.section {
  margin-top: 50px;
  /* margin: 20px; */
}
.section-title {
  padding: 20px;
}
/* .section-link {
  padding: 20px;
  cursor: url('../../src/img/bxs_hand-down.png') 13 0, pointer;
  cursor: pointer;
} */
/* .section-link:hover {
  color: blue;
} */
/* .section-link::before {
  content: url(../../src/img/bxs_hand-down.png);
  position: relative;
  top: 15px;
  left: -10px;
  width: 5px;
  height: 5px;
} */
.section-link {
  /* 
  color: #61677c;
  font-weight: 600;
  font: inherit; */
  text-decoration: none;

  max-width: 150px;
  padding: 8px 12px;

  border: 0;
  outline: 0;
  border-radius: 100px;

  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;

  font-size: 16px;
  font: inherit;
  font-weight: bold;

  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.section-link:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.section-link:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
